button.menuButton {
    color:rgb(100,100,100);
    margin:10px;
    font-size:15px;
    font-family:helvetica;
    padding:7px;
    float:left;
    background-color:white;
    border:0px;
    border-radius:15px;
}
button.menuButton:hover {
    background-color: #505050;
    color: white;
}
#info {
    min-width:350px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
#dashboard {
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 99%;
    height: 99%;
    z-index: 1;
}
button.close {
    color:rgb(100,100,100);
    font-size:20px;
    font-family:helvetica;
    float:right;
    background-color:white;
    border:0px;
    width:30px;
    height: 30px;
    z-index: 3;
}
button.close:hover {
    background-color: #505050;
    color: white;
}
div.fade {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}
div.blocoTexto {
    margin: 20px;
    font-family:helvetica;
}
div.blocoDash {
    margin: 20px;
    z-index: 2;
    font-family:helvetica;
}